@model List<Movie>

@{
    ViewData["Title"] = "Home Page";

}

<div class="text-center">
    <h1 class="display-4">Peliculas</h1>
    <p>Top 10 mejores Peliculas de Herramientas de Programacion.</p>
</div>
